@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

.loginCenter {
    max-width: 375px;
    min-height:100vh;
    background: #fcf4f0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    .logo {
        margin-top: 54px ;
        margin-bottom: 19px;
    }
    .text{
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 120%;
        color: #BAABA0;
        margin-bottom: 5px;
        margin-top: 25px;
        text-align: center;
        margin-bottom:45px;
    }
    .loginInpDesc{
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 120%;
        color: #BAABA0;
        margin-bottom: 5px;
    }
    .loginTitle {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 120%;
        color: #baaba0;
        margin-bottom: 5px;
    }
    .title1 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        color: #474646;
        margin-bottom: 5px;
    }
    .title2 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 130%;
        text-align: center;
        color: #474646;
        margin-bottom: 84px;
    }
    .divInp{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .loginBtn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

@media screen and (max-width: 320px){
    .loginCenter{
        max-width: 320px;
        height:100vh;
        margin-bottom: 100px;
    }
    .logo {
        margin-top: 80px !important;
        margin-bottom: 19px;
    }
    .text{
        font-size: 9px;
        line-height: 120%;
        margin-top: 10px;
        margin-bottom:35px;
    }
    .loginInpDesc{
        font-size: 13px;
        line-height: 120%;
        margin-bottom: 5px;
    }
    .loginTitle {
        font-size: 17px;
        line-height: 120%;
        margin-bottom: 5px;
    }
    .title1 {
        font-size: 27px;
        line-height: 38px;
        margin-bottom: 5px;
    }
    .title2 {
        font-size: 12px;
        line-height: 130%;
        margin-bottom: 84px;
    }
    

}

