.blogSearch {
    margin: 0 16px;
}
.blogDownload {
    margin: 24px 16px;
}
.blogCardList {
    min-height: 400px;
}
.state {
    text-align: center;
    font-size: 25px;
    color: #9d9d9d  ;
}
@media screen and (max-width: 320px) {
    .blogSearch {
        display: flex;
        justify-content: center;
    }
    .blogDownload {
        display: flex;
        justify-content: center;
    }
}
