.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
}
.imgTool {
    width: 32px;
    height: 32px;
}

@media screen and (max-width: 320px){
    .imgTool {
        width: 29px;
        height: 29px;
    }
}