.blogSearch {
    margin: 0 16px;
}
.blogDownload {
    margin: 24px 16px;
}
@media screen and (max-width: 320px){
    .blogSearch {
       display: flex;
       justify-content: center;
    }
    .blogDownload {
        display: flex;
        justify-content: center;
    }
}
